{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/admin/entries/entry/">entries</a>
        &rsaquo; reporting
    </div>
{% endblock %}


{% block result_list %}
    <h1>Entries {{ total }}€</h1>
    <ul>
    {% for entry in object_list %}
        <li>{{ entry.date }} - {{ entry.title }}</li>
    {% empty %}
        <li>No entries yet.</li>
    {% endfor %}
    </ul>
{% endblock %}
