{% extends 'admin/change_list.html' %}



{% block object-tools-items %}
    {{ block.super }}
    <li> <a href="{% url 'admin:reporting' %}">reporting</a> </li>
{% endblock %}

{% block content %}
    {% comment %}
    <p>Balance: {{ cl.balance }}€ </p>
    <p><b>{{ cl.final_owe_person }} doit à {{ cl.final_owe_other_person }}: {{ cl.final_owe_amount }}€ </b> </p>
    <ul>
        <li>Nath doit à Nico: {{ cl.nath_owe_nico }}€ </li>
        <li>Nico doit à Nath: {{ cl.nico_owe_nath }}€ </li>
    </ul>
    {% endcomment %}
    {{ block.super }}

{% endblock %}
