{% extends 'admin/change_list.html' %}

{% load i18n admin_urls static admin_list pipeline %}

{% block extrahead %}
  {{ block.super }}
  {% javascript 'jquery' %}
  {% stylesheet 'highcharts' %}
  {% comment %}<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>{% endcomment %}
  {% comment %}<script type="text/javascript" src="{% static 'highcharts/highcharts.js' %}"></script>{% endcomment %}
  {% comment %}<link rel="stylesheet" href="{% static 'highcharts/css/highcharts.css' %}" />{% endcomment %}
  {% javascript 'highcharts' %}
  <script type="text/javascript">
    $(document).ready(function() {
        $('#categories-chart-container').highcharts({{ categories_chart_options | safe }});
    });
  </script>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    {% comment %}<li> <a href="{% url 'admin:reporting' %}">reporting</a> </li>{% endcomment %}
    <li> <a class="addlink" href="{% url 'entries-import' %}">import</a> </li>
{% endblock %}

{% block content %}
    <h1>Dépenses global : {{ total }}€</h1>
    <h2>Dépenses unitaire : {{unit_total}}€</h2>
    <div>
        <p><b>{{ final_owe_person }} doit à {{ final_owe_other_person }}: {{ final_owe_amount }}€ </b> </p>
        <ul>
            <li>Nath doit à Nico: {{ nath_owe_nico }}€ </li>
            <li>Nico doit à Nath: {{ nico_owe_nath }}€ </li>
        </ul>
    </div>
    {{ block.super }}
    <div id="categories-chart-container"></div>
{% endblock %}
